comfy-env==0.2.38

trimesh>=4.0.0
omegaconf>=2.3.0
einops>=0.8.0
pymeshlab
timm
accelerate>=0.17.0
rembg
diffusers
pytorch-lightning
huggingface_hub
scikit-image
opencv-python-headless
onnxruntime
transformers
